// ***** Navigation Start *****

.logo{
  height: 5vh;
  width: auto;
}




#navigation{
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  // border-width: thin;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 0;
  min-height: 60px;
  background-color: rgba(245,245,245,1);
  border-style: solid;
  border-top-color: rgba(255,255,255,0);
  border-right-color: rgba(255,255,255,0);
  border-left-color: rgba(255,255,255,0);
  border-bottom-color: rgba(25,150,170, 1);
  border-width: thin;}

.navbar{
  padding: 0;
}

.navbar-dark{
  border-color: rgba(25,150,170,1);
  color: rgba(25,150,170,1);
}

.navbar>button{
  background-color: rgba(25,150,170,0.7);
  color: rgba(255,255,255,1);
  border-radius: 0px;
}

.navbar-toggler{

  padding-right: 4px;
  padding-left:4px;
  border-style: solid;
  border-width: thin;
  border-radius: 0;
  color: rgba(25,150,170,1);
  margin-right: 10px;
  font-weight: lighter;
  background-color: rgba(25,150,170,1);
}

.navbar-brand{
  font-size: 0.9em;
  font-weight: lighter;
}


.navbar-nav{
  /*text-align: center;*/
  margin-left: auto;
  padding: 0;
  font-size: 0.8em
}



.nav-link{
  font-family: 'Aldrich', sans-serif;
  /*font-family: 'Baloo', cursive;*/
  font-weight: 50;
  color: rgba(25,150,170,1);
}

.nav-admin{
  font-family: 'Aldrich', sans-serif;
  /*font-family: 'Baloo', cursive;*/
  font-weight: 50;
  padding-top: 8px;
  color: rgba(127,127,127,1);
}

.navbar-expand{
  padding: 0;
}


.nav-item{
  border-style: solid;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
  border-left-color: rgba(127,127,127,0.5);
  border-top: 0;
  border-bottom: 0;
  border-right: 0;

}

#navbarNavDropdown>ul>li{
  text-align: center;
}

#header{
  color: rgba(25,150,170,1);
  font-family: 'Aldrich', sans-serif;
  font-size: 0.9em;
  /*font-family: 'Squada One', cursive;*/
}

// ***** Navigation End *****


.directory-open {
  height: 70vh;

  .MapContainer{
    height: 50vh;
    position: relative !important;
  }

  .searchbar{
    margin-top: 40px;
    margin-bottom: 50px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }


  form{
    margin: 0;
  }

  .directory-item{
    border-style: solid;
    border-width: thin;
    border-color: rgba(25,150,170,1);
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }

}

.directory-closed {
  display: none;
}

.events-open {
  margin-top: 12vh;
  height: 85vh;

  .rbc-month-view, .rbc-header,.rbc-day-bg{
    border-style: solid;
    border-width: thin;
    border-color: rgba(25,150,170,0);
    margin: 3px;
  }

 div > div > div.rbc-month-view > div.rbc-row.rbc-month-header > div,
 div > div > div.rbc-month-view > div > div.rbc-row-bg > div,
 div > div > div.rbc-month-view > div{
    border-left-color: rgba(25,150,170,0) !important;
    border-right-color: rgba(25,150,170,0.7) !important;
    border-bottom-color: rgba(25,150,170,0.7);
    border-top-color: rgba(25,150,170,0);
  }

  .calendar-container{
    padding-top: 40px;
  }

  .rbc-toolbar{
    color: rgba(255,255,255,1);
    background-color: rgba(25,150,170,0.7);
    border-style: solid;
    border-width: thin;
    border-color: rgba(255,255,255,1);
    border-radius: 0px;
    border-top: none;
    border-left: none;
  }

.rbc-btn-group>button{
  color: rgba(255,255,255,1);
  border-style: solid;
  border-width: thin;
  border-color: rgba(255,255,255,1);
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-bottom-color: rgba(25,150,170,0.3);
}

.rbc-header, .rbc-row-content{
  color: rgba(25,150,170,1);
}


}

.events-closed {
  display: none;
}

.news-open {
  margin-top: 12vh;
  height: 85vh;

  .newsimage{
  height: 100px;
  width: 100%;
  }

  .news-container{
    padding-top: 20px;
  }

  div > div.row.news-row{
     border-style: solid;
     border-color: rgba(25,150,170,0.3);
     border-width: thin;
     padding: 10px;
     margin-top: 20px;
   }

  .news-item{
    width: 10vw;
    background-size: cover;
  }
  .snippet{
    font-size: 12px;
  }


  div#status{
    position:fixed;
    font-size:24px;
  }
  div#wrap{
    width:500px;
    margin:0px auto;
  }
  div.newData{
    height:500px; background:#09F;
    margin:10px 0px;
  }




}

.news-closed {
  display: none;
}

.signup-open {
  margin-top: 12vh;
  height: 85vh;
}

.signup-closed {
  display: none;
}

.registration-open{
  margin-top: 12vh;
  height: 85vh;
}

.registration-close {
  display: none;
}

.signin-open, .signup-open, .registration-open{
  form{
  margin: 5%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  background-color: rgba(245,245,245,1);
  border-top-color: rgba(150,150,150,0.4);
  border-left-color: rgba(150,150,150,0.4);
  border-right: rgba(30,30,30,0.4);
  border-bottom: rgba(30,30,30,0.4);
  z-index:5;
  max-width: 450px;
}
}


.signin-open, .signup-open, .registration-open, .directory-open, .editorganization-open{
  margin-top: 12vh;
  height: 85vh;



.contact-header{
  text-align: center;
  color: rgba(25,150,170,1);
  font-weight: lighter;
}

.rule{
  background-color: rgba(25,150,170,0.5);
  width: 90%;
}

input[type="text"], input[type="number"], input[type="password"]{
  background-color: rgba(25,150,170,0.1);
  color: rgba(25,150,170,1);
  border-color: rgba(25,150,170,0);

  border-radius: 0;
}

input[type="text"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder{
  color: rgba(150,150,150,1);
  font-size: 0.8em;
}

input[type=text]:focus, input[type="number"]:focus, input[type="password"]:focus{
  background-color: rgba(25,150,170,0.3);
  color: rgba(25,150,170,0.7);
  border-width:normal;
  border-spacing: 10px;
  border-color: rgba(255,255,255,0.5);
  outline: 0;
}

.form-submit{
  background-color: rgba(25,150,170,0.8);
  color: rgba(255,255,255,0.7);
  border-color: rgba(0,0,0,0);
  width: 100%;
  margin-left: auto;
  font-weight: lighter;
  margin-top: 10px;
  border-radius: 0px;
}


.form-submit:hover{
  background-color: rgba(25,150,170,1);
  color: rgba(255,255,255,1);
  margin-left: auto;
  border-width: normal;
  font-weight: lighter;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.form-submit:focus{
  outline: 0;
  border-color: rgba(0,0,0,0);
  background-color: rgba(25,150,170,0.8);
  color: rgba(255,255,255,1);
}

.form-submit:active{
  outline: 0;
  background-color: rgba(255,255,255,1);
  color: rgba(25,150,170,1);

}

.form-submit:visited{
  outline: 0;
  color: rgba(255,255,255,1);
  background-color: rgba(25,150,170,1);
}
}

.signin-closed {
  display: none;
}

.about-open {
  margin-top: 12vh;
  height: 85vh;
}

.about-closed {
  display: none;
}



.indeximage{
  height: 100px;
  width: 100%;
}


// ****** Start of footer *****

.site-info{
  display:block;
  background-color: rgba(150,150,150,1);
  background-color: rgba(45,160,190, 1);
  height: 50px;
  padding-top: 15px;
  margin-top: 40px;

}

.copyright-column, .author-column{
  color: rgba(255,255,255,1);
  font-family: helvetica;
  font-weight: lighter;
  font-size: 0.8em;
}

.copyright-column{
  float: left;
  padding-left: 10px;
}

.copyright-column>a{
  padding: 15px;
  color: rgba(255,255,255,1)
}

.author-column{
  float: right;
  padding-right: 10px;
}

.author{
  text-align: right;
}


// ***** End of Footer *****



// ***** Start of admin content *****



.adminnews-open {

}

.adminnews-closed {
  display: none;
}
.registration-open {

}



div > form > div.container-fluid > div > table > tbody > tr:last-child{
  padding-bottom: 80px;
}



.registration-closed {
  display: none;
}

.admintechnologies-open {

}




.admintechnologies-closed {
  display: none;
}

.adminevents-open, .adminusers-open, .admintechnologies-open, .adminnews-open, .directory-open{
  .main-container{
    margin-bottom: 70px;
  }
}


.adminevents-open, .adminusers-open, .admintechnologies-open, .adminnews-open, .editorganization-open, .directory-open{

  .admin-table-head{
    background-color: rgba(25,150,170, 0.3);
  }

  .admin-table-row, .admin-data, .admin-data-remove{
    background-color: rgba(25,150,170, 0.1);
  }

  input[type="text"], input[type="number"]{
    background-color: rgba(25,150,170,0.1);
    color: rgba(25,150,170,1);
    border-color: rgba(25,150,170,0);
    border-radius: 0;
  }

  button{
    background-color: rgba(25,150,170,1);
    border-style: none;
    height: 33px;
    color: rgba(255,255,255,1);
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;

  }

  .add-tag{
    background-color: rgba(245,245,245,1);
    border-style: none;
    height: 37px;
    padding-top: 8px;
    vertical-align: middle;
    color: rgba(25,150,170,1);
    font-size: 14px;
  }

  .admin-form{
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  .admin-title-header{
    text-align: center;
    padding-bottom: 40px;
    color: rgba(25,150,170,1);
  }

  .form-group{
    margin-left: auto;
    margin-right: auto;
  }

  th, td{
    color: rgba(127,127,127,1);
    text-align: center;
  }

  .admin-snippet{
    color: rgba(25,150,170,1);
    font-size: 12px;
  }

}

.adminevents-closed {
  display: none;
}

.adminusers-open {

}

.adminusers-closed {
  display: none;
}



.currentorganization-open {
  .container-main{
    margin-top: 100px;
  }
  .info-container{
    background-color:rgba(25,150,170,0.2);

  }
  .company-row{
    border-style:solid;
    border-width: thin;
    border-color: rgba(25,150,170,0.2);
    padding-right: 14px;

  }


}

.currentorganization-closed {
  display: none;
}

.editorganization-open {
  margin-top: 100px;
}

.editorganization-closed {
  display: none;
}


// ***** End of admin content *****







// ***** Start of media queries *****


@media only screen and (max-width: 576px){
  #navigation{
    background-color: rgba(245, 245,245,0.9);
    min-height: 50px;
  }
  .navbar-item{
    border-left-color: rgba(0,0,0,0);
  }
  .nav-item{
    border:none;
  }
}

@media only screen and (max-width: 768px) {
  #navigation{
    background: rgba(245,245,245,0.9);
    min-height: 50px;
    border-style: solid;
    border-top-color: rgba(255,255,255,0);
    border-right-color: rgba(255,255,255,0);
    border-left-color: rgba(255,255,255,0);
    border-bottom-color: rgba(25,150,170, 1);
    border-width: thin;
  }
  .nav-item{
    border:none;
  }


}

@media only screen and (min-width: 768px) {
  .sign-form{
    max-width: 450px;
    min-width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  .sign-form{
    max-width: 475px;
  }
}

@media only screen and (min-width: 1400px) {
  .sign-form{
    max-width: 500px;
  }
}

@media only screen and (min-width: 1600px) {
  .sign-form{
    max-width: 550px;
  }
}



// ***** End of media queries *****
