// ***** Navigation Start *****

.logo{
  height: 5vh;
  width: auto;
}


#navigation{
  background-color: rgba(255,255,255,0);
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: thin;
  margin: 0;
  padding-top: none;
  padding-left: 10px;
  padding-right: 0;
  min-height: 60px;
  /*background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.00));*/

}
nav{
  padding: 0;
}

.navbar-dark{
  border-color: rgba(25,150,170,1);
  color: rgba(25,150,170,1);
}

.navbar-toggler{
  border-color: rgba(25,150,170,1);
  padding-right: 4px;
  padding-left:4px;
}

.navbar-brand{
  font-size: 0.9em;
  font-weight: lighter;
}


.navbar-nav{
  /*text-align: center;*/
  margin-left: auto;
  padding: 0;
  font-size: 0.8em
}

.navbar-toggler{
  border-radius: 0;
  color: rgba(25,150,170,1);
  margin-right: 10px;
  font-weight: lighter;
}

.nav-link{
  font-family: 'Aldrich', sans-serif;
  /*font-family: 'Baloo', cursive;*/
  font-weight: 50;
  color: rgba(25,150,170,1);
}

.navbar-expand{
  padding: 0;
}


.nav-item{
  border-style: solid;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
  border-left-color: rgba(127,127,127,0.5);
  border-top: 0;
  border-bottom: 0;
  border-right: 0;

}

#navbarNavDropdown>ul>li{
  text-align: center;
}

#header{
  color: rgba(25,150,170,1);
  font-family: 'Aldrich', sans-serif;
  font-size: 0.9em;
  /*font-family: 'Squada One', cursive;*/
}

// ***** Navigation End *****


.directory-open {
  margin-top: 12vh;
  height: 85vh;

  .MapContainer{
    height: 30vw;
  }

  .searchbar{
    padding-top: 20px;
    margin: 0px;
  }

  form{
    margin: 0;
  }
}

.directory-closed {
  display: none;
}

.events-open {
  margin-top: 12vh;
  height: 85vh;
}

.events-closed {
  display: none;
}

.news-open {
  margin-top: 12vh;
  height: 85vh;

  .newsimage{
  height: 100px;
  width: 100%;
  }

}

.news-closed {
  display: none;
}

.signup-open {
  margin-top: 12vh;
  height: 85vh;
}

.signup-closed {
  display: none;
}

.signin-open, .signup-open {
  margin-top: 12vh;
  height: 85vh;

  form{
  margin: 5%;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  background-color: rgba(245,245,245,1);
  border-top-color: rgba(150,150,150,0.4);
  border-left-color: rgba(150,150,150,0.4);
  border-right: rgba(30,30,30,0.4);
  border-bottom: rgba(30,30,30,0.4);
  z-index:5;
  max-width: 450px;
}

.contact-header{
  text-align: center;
  color: rgba(25,150,170,1);
  font-weight: lighter;
}

.rule{
  background-color: rgba(25,150,170,0.5);
  width: 90%;
}

input[type="text"]{
  background-color: rgba(25,150,170,0.1);
  color: rgba(25,150,170,1);
  border-color: rgba(25,150,170,0);

  border-radius: 0;
}

input[type="text"]::-webkit-input-placeholder {
  color: rgba(150,150,150,1);
  font-size: 0.8em;
}

input[type=text]:focus {
  background-color: rgba(25,150,170,0.3);
  color: rgba(25,150,170,0.7);
  border-width:normal;
  border-spacing: 10px;
  border-color: rgba(255,255,255,0.5);
  outline: 0;
}

#form-submit{
  background-color: rgba(25,150,170,0.8);
  color: rgba(255,255,255,0.7);
  border-color: rgba(0,0,0,0);
  width: 100%;
  margin-left: auto;
  font-weight: lighter;
  margin-top: 10px;
  border-radius: 0px;
}


#form-submit:hover{
  background-color: rgba(25,150,170,1);
  color: rgba(255,255,255,1);
  margin-left: auto;
  border-width: normal;
  font-weight: lighter;
  margin-top: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

#form-submit:focus{
  outline: 0;
  border-color: rgba(0,0,0,0);
  background-color: rgba(25,150,170,0.8);
  color: rgba(255,255,255,1);
}

#form-submit:active{
  outline: 0;
  background-color: rgba(255,255,255,1);
  color: rgba(25,150,170,1);

}

#form-submit:visited{
  outline: 0;
  color: rgba(255,255,255,1);
  background-color: rgba(25,150,170,1);
}
}

.signin-closed {
  display: none;
}

.about-open {
  margin-top: 12vh;
  height: 85vh;
}

.about-closed {
  display: none;
}



.indeximage{
  height: 100px;
  width: 100%;
}


// ****** Start of footer *****

.site-info{
  display:block;
  background-color: rgba(150,150,150,1);
  background-color: rgba(25,150,170, 0.7);
  height: 30px;
  padding-top: 10px;
}

.copyright-column, .author-column{
  color: rgba(255,255,255,1);
  font-family: helvetica;
  font-weight: lighter;
  font-size: 0.8em;
}

.copyright-column{
  float: left;
  padding-left: 10px;
}

.copyright-column>a{
  padding: 5px;
  color: rgba(255,255,255,1)
}

.author-column{
  float: right;
  padding-right: 10px;
}

.author{
  text-align: right;
}


// ***** End of Footer *****

// ***** Start of media queries *****


@media only screen and (max-width: 576px){
  #navigation{
    background: rgba(255, 255,255,1);
    min-height: 50px;
  }
  .navbar-item{
    border-left-color: rgba(0,0,0,0);
  }
  .nav-item{
    border:none;
  }
}

@media only screen and (max-width: 768px) {
  #navigation{
    background: rgba(255, 255,255,1);
    min-height: 50px;
  }
  .nav-item{
    border:none;
  }


}

@media only screen and (min-width: 768px) {
  form{
    max-width: 450px;
    min-width: 450px;
  }
}

@media only screen and (min-width: 1200px) {
  form{
    max-width: 475px;
  }
}

@media only screen and (min-width: 1400px) {
  form{
    max-width: 500px;
  }
}

@media only screen and (min-width: 1600px) {
  form{
    max-width: 550px;
  }
}

// ***** End of media queries *****
